@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');
@font-face {
  font-family: hightide;
  src: url(./Font/hightide/HighTide.otf);
}
@font-face {
  font-family: baron;
  src: url(./Font/BaronNeue_Personal_license/Baron.otf);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

#preloader {
  background: #040204 url(./images/mooni.gif) no-repeat center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 101;
}

@media screen and (max-width:420px) {
  #preloader{
    background: url(./images/mooner.gif);
  }
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* font-family: "Orbitron", sans-serif; */
    font-family: "hightide",sans-serif;
    list-style: none;
    box-sizing: border-box;
    background: url(./images/);

  }
  
  nav {
    position: fixed;
    z-index: 100;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    backdrop-filter: blur(10px);
    background-color: transparent;
  }
  
   h1, h2, h5, p, span {
    color: #fff;
   }

   p, span {
    font-family: 'baron', sans-serif;
   }

  .logo img {
    color: #fff;
    width: 110px;
    
  }
  
  nav .nav-links ul {
    display: flex;
    flex-direction: row;
  }
  
  nav .nav-links ul li {
    padding: 0 4px;
    list-style: none;
  }
  
  nav .nav-links ul li img {
    transform: scale(0.45);
    cursor: pointer;
    
  }

  .swipe-icon {
    display: none;
  }

  .scroll-icon img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 2;
    width: 30px;
    animation: bounce 800ms infinite alternate-reverse;
  }

  .scroll-icon p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 70px;    
    text-align: center;
    z-index: 1;
    font-family: 'baron', sans-serif;
  }

  
  
  #sectionone {
    height: 100vh;
    width: 100vw;
    overflow: hidden;


  }
  #second{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* background: linear-gradient(to top, #000,transparent); */
    z-index: 1000;
 }
  
  .bg img {
    width: 100vw;
    height: 100vh;
    filter: brightness(0.8);
    object-fit: cover;
    pointer-events: none;
  }
  
  .rock1 {
    position: absolute !important;
    left: 10vw !important;
    top: 20vh !important;
  }
  
  .rock1 img {
    width: 40%;
    filter: brightness(0.5);
  }
  
  .text h1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 2vw;
    right: 0;
    top: 35vh;    
    text-align: center;
    z-index: 2;
    font-size: 5vw;
    letter-spacing: 20px;
    font-family: 'hightide', sans-serif;
      background: -webkit-linear-gradient( #ebdcae,#eee);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
  }

  h1{
    font-family: "baron",sans-serif;
  }
  
  .earth img {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 34vw;
    top: 25vh;
    z-index: 1;
    filter: brightness(0.7);
  }
  
  .mid {
    right:0px !important;
    left: 0px !important;
    bottom: 0px !important;
    top: unset !important;
  }
  
  .mid img {
    width: 100%;
    z-index: 2;
    left: -20px;
    top: 20vh !important;
    filter: brightness(0.8);
  }
  
  .fore {
    right: -50px !important;
    bottom: -200px !important;
    top: 0px !important;
    left: unset !important;
  }
  
  .fore img {
    width: 400px;
    height: 110vh;
    z-index: 3;
    filter: brightness(0.5);
  }

  /* section two scroll */

  #second {
     height: 100vh;
     background: linear-gradient( #000, #131055);
     position: relative;
     width: 100%;
     padding: 45px;
     display: flex;
     justify-content: center;
     align-items: center;
  }

  #second::before {
     content: '';
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 100px;
     /* background: linear-gradient(to top, #000,transparent); */
     z-index: 1000;
  }

  
  #second img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  
  .bg2 img {
    width: 100vw;
    height: 100vh; 
   /* filter: brightness(0.6);*/
  }

  section img#moon {
    mix-blend-mode: screen;
    filter: hue-rotate(180deg);
    opacity:70%;
  }

  section img#mountains-front  {
    z-index: 10;
  }

  #text2 {
    position: absolute;
    right: 80px;
    white-space: nowrap;
    font-size: 4.5vw;
    letter-spacing: 5px;
    font-family: "hightide", sans-serif !important;
    z-index: 9;
    
  }
  h2{
    background: -webkit-linear-gradient(#eee, #ebdcae);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  #mountains-behind, #mountains-front {
    filter: brightness(0.3) ;
    filter: hue-rotate(200deg);
    
  }



  /* PLANET SECTION */

  .container1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: url(./images/starbg.png);
    
  }
  @media screen and (max-width:480px){
    .container1{
      flex-direction: column;
    }
  }
  .heading {
    font-size: 24px;
  }

  .details {
    font-size: 16px;
    
   
  }

  .right  {
    width: 100%;
    margin: 2 auto;
    max-width: 550px;
    margin-right: 24px;
    
  }

   .planet img {
    animation: bounce 800ms infinite alternate-reverse;
    width: 100%;
    height: 100%;
  
   }

   .pluto {
    filter: invert(1);
   }



   @keyframes bounce {
    0% {
        transform: translateY(8px)
    }

    100% {
        transform: translateY(-8px);
    }
}

/* planets sections */

#third {
  position: relative;
  background: radial-gradient( #c03d06 30%, #000 70%);
  height: 100vh;
  display: flex; 
}

#fourth {
  position: relative;
  background: radial-gradient( #c01906 30%, #000 70% );
  height: 100vh;
  display: flex;
}


#fifth {
  position: relative;
  background: radial-gradient( #06a1c0 30%, #000 65%);
  height: 100vh;
  display: flex;
}

#sixth {
  position: relative;
  background: radial-gradient( #fc4c00 30%, #000 65% );
  height: 100vh;
  display: flex;
}

#seventh {
  position: relative;
  background: radial-gradient( #f8b294 30%, #000 65% );
  height: 100vh;
  display: flex;
}

#eighth {
  position: relative;
  background: radial-gradient( #e5c0b0 30%, #000 65%  );
  height: 100vh;
  display: flex;
}

#ninth {
  position: relative;
  background: radial-gradient( #bb2c01 30%, #000 65% );
  height: 100vh;
  display: flex;
}

#tenth {
  position: relative;
  background: radial-gradient( #0046c8 30%, #000 65% );
 
  height: 100vh;
  display: flex;
}


#eleventh {
  position: relative;
  background: radial-gradient( #4a2500 30%, #000 65% );
  height: 100vh;
  display: flex;
}


/* PLANET GAZING SECTION */

#last {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 32px;
  padding-bottom: 32px;
 
}

#last::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000 50%,transparent);
  z-index: 1000;
}

.bg3 img {
  width: 110vw;
  height: 105vh;
  overflow-x:hidden;
  filter: brightness(0.7);
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
}



.star-1 img {
  position: absolute;
  top: 80px;
  right: 20px;
  z-index: 1;
  width: 100px;
  animation: shoot 0.9s linear infinite;
}
.star-2 img {
  position: absolute;
  top: 170px;
  right: 90px;
  z-index: 1;
  width: 100px;
  animation: shoot 0.8s linear infinite;
  animation-delay: 1s;
}

.star-3 img {
  position: absolute;
  top: 250px;
  right: 0px;
  z-index: 1;
  width: 100px;
  animation: shoot 0.9s linear infinite;
  animation-delay: 2.5s;
}

.star-4 img {
  position: absolute;
  bottom: 200px;
  right: 0px;
  z-index: 1;
  width: 100px;
  animation: shoot 0.8s linear infinite;
  animation-delay: 3.5s;
  
}

/* GITHUB REPO */

.github img {

position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
bottom: 300px;
z-index: 2;
width: 130px;
}

.github button {
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
bottom: 220px;
z-index: 2;


}

.btn  {
  border: 1px solid white;
  padding: 16px;
  width: 200px;
  background-color: transparent;
  cursor: pointer;
 
}

.github a {
  color: white;
  font-weight: bold;
  font-family: 'baron',sans-serif;
  letter-spacing: 1px;
}

button:hover {
  background-color: black;     
  transition: all 600ms ease;
}




@keyframes shoot {
   0%{
    transform: translateX(0);
   }
   100%{
    transform: translateX(-1000px);
   }
}




/* footer */


footer {
  /* border-top: 0.5px solid whitesmoke; */
  margin-top: 28px;
  background: url(./images/starbg.png);
}

.footer-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 10px;
}

.footer-list ul {
  display: flex;
  /* padding-right: 32px; */
  justify-content: center;
  
  
}

.footer-list img {
  width: 20px;
  cursor: pointer;
  /* filter: hue-rotate(180sdeg); */
}


.footer-list li {
  padding: 24px;
  
}

.copyright {
  text-align: center;
}



/* MEDIA QUERIES */


/* IPADS, SMALLS SCREENS, PHONES */


@media (max-width: 768px) {
   
   .scroll-icon {
    display: none;
   }

   .swipe-icon {
    display: inline;
   }

   .swipe-icon img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 2;
    width: 25px;
    animation: bounce 800ms infinite alternate-reverse;
  }

  .swipe-icon p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 70px;    
    text-align: center;
    z-index: 1;
    font-family: 'baron', sans-serif;
  }

  .fore img {
    display: none;
  }

  .text h1 {
    font-size: 8vw;
  }

 .heading {
    font-size: 18px;
  }

  .details {
    font-size: 16px;
  }
 

}


@media (max-width: 690px) {
  #text2 {
    position: absolute;
    right: 12px;
    font-size: 5vw;
  }

  nav .nav-links ul {
    padding-right: 8px;
  }
}

@media (max-width: 500px) {
  
  #text2 {
    position: absolute;
    right: -120px;
  }

  nav .nav-links ul {
    padding-right: 14px;
  }

  .details {
    font-size: 12px;
  }
  
  .heading {
    font-size: 14px;
  }

  nav  {
    width: 100%;
  }

  .copyright {
    font-size: 14px;
  }

 
}



/* cards */

/* .cards{
  height: 100vh;
  width:100vh;

} */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900;1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "baron", sans-serif;
}

body {
  background: url(./images/starbg.png);
  /* padding: 0px 50px; */
}

.container {
  
  padding: 50px 0px;
  height: 100vh;
  display: flex;
  /* gap: 50px; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.parent {
  height: 400px;
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card {
  padding-top: 150px;
  transform-style: preserve-3d;
  /* background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
  
  
  /* background-position: center center; */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.card:hover {
  background-position: 80% 20%;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 0px 0px 10px 10px;
  /* box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px; */
  box-shadow: #ebdcae 0px 20px 50px -25px;
  transition: all 0.5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;
}
.content-box .card-title {
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 50px);
}
.content-box .card-content {
  padding-top: 15px;
  font-size: 12px;
  color: #b9b9b9;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 50px);
}
.content-box .see-more {
  display: block;
  font-weight: 900;
  font-size: 11px;
  text-transform: uppercase;
  color: #0088ff;
  padding-top: 15px;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 50px);
}

.date-box {
  position: absolute;
  top: 75px;
  left: 25px;
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: #0066ff 0px 20px 60px 0px, #00c8ff 0px 18px 36px -18px;
  transform: translate3d(0px, 0px, 50px);
}
.date-box span {
  display: block;
  text-align: center;
}
.date-box .month {
  color: white;
  font-size: 11px;
  font-weight: 700;
}
.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: #0088ff;
}
.card1{
  background-image: url(./images/Mr\ and\ Miss\ CRCE.png);
  
}

.card2 {
  background-image: url(./images/Euphoria\ Event\ Posters\ \(1\)-min.png);
  
}

.card3 {
  background-image: url(./images/Impulse.png);
}

.card4 {
  background-image: url(./images/Fine\ Arts\ Posters\ \(1\)-min.png);
}

   
.section-header {
  text-align: center;
  padding-top: 20px;
}

.section-header h2 {
  font-size: 50px;
  font-weight: 700;
  position: relative;
  color: #ffffff;
  font-family: 'baron',sans-serif;
  margin-bottom: 20px;
}

.section-header h2:before,
.section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: #ebdcae;
  display: inline-block;
}

.section-header h2:before {
  margin: 0 15px 10px 0;
}

.section-header h2:after {
  margin: 0 0 10px 15px;
}

.section-header p {
  margin: 10px auto 0 auto;
  font-family: 'baron',sans-serif;
}

@media screen and (max-width: 1199px) {
  .section-header p {
    max-width: 60%;
  }
}

  


  

:root {
  --card-height: clamp(300px, 30vw, 420px)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #41436a;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top:20px;
  gap: 50px;
}
.carde1 {
  background: url(./images/CRCE\ Fittest-min.png);
  background-size: 100%;
  background-position: center;
}
.carde2 {
  background: url(./images/3-min.webp);
  background-size: 100%;
  background-position: center;
}
.carde3 {
  background: url(./images/4\ \(3\)-min.webp);
  background-size: 100%;
  background-position: center;
}
.carde4 {
  background: url(./images/Sangeet\ Safar.png);
  background-size: 100%;
  background-position: center;
}
.carde5 {
  background: url(./images/Rhythmic\ Rhapsody.png);
  background-size: 100%;
  background-position: center;
}
.carde6 {
  background: url(./images/On\ the\ Floor.png);
  background-size: 100%;
  background-position: center;
}
.carde7 {
  background: url(./images/Joke\ Jamboree.png);
  background-size: 100%;
  background-position: center;
}
.carde8 {
  background: url(./images/aadalat.webp);
  background-size: 100%;
  background-position: center;
}
.carde9 {
  background: url(./images/Tamasha\ LA.png);
  background-size: 100%;
  background-position: center;
}
.carde10 {
  background: url(./images/ship.png);
  background-size: 100%;
  background-position: center;
}
.carde11{
  background: url(./images/Fifa-min.png);
  background-size: 100%;
  background-position: center;
}
.carde12 {
  background: url(./images/Be\ Reel.webp);
  background-size: 100%;
  background-position: center;
}
.carde13 {
  background: url(./images/Sell\ Me\ This\ Pen.png);
  background-size: 100%;
  background-position: center;
}
.carde14{
  background: url(./images/Stories\ in\ Snaps.png);
  background-size: 100%;
  background-position: center;
}
.carde15 {
  background: url(./images/skectch.webp);
  background-size: 100%;
  background-position: center;
}
.carde16{
  background: url(./images/Cosmic\ Colours-min.png);
  background-size: 100%;
  background-position: center;
}
.carde17 {
  background: url(./images/mosaic.webp);
  background-size: 100%;
  background-position: center;
}
.carde {
  background-repeat: no-repeat;
  margin: 10px;
  height: var(--card-height);
  aspect-ratio: 3/4;
  transition: background 500ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  border-radius: calc(var(--card-height)*.05);
}
.carde:hover {
  background-position: 0px 0px;
  background-size: calc(var(--card-height)*1.5);
}

/* .carde:nth-child(2):hover {
  background-position: 0px 0px;
  background-size: calc(var(--card-height)*1.5);
}

.carde:last-child:hover {
  background-position: 0px 0px;
  background-size: calc(var(--card-height)*1.5);
} */

.wrapper {
  background-color: #00000000;
  transition: 1200ms ease-in-out;
  backdrop-filter: blur(0px);
  height: 100%;
  width: 120%;
  position: relative;
}
.carde:hover .wrapper {
  background-color: #0000003c;
  backdrop-filter: blur(5px);
}
.wrapper img{
  position: absolute;
  transform-style: preserve-3d;
  perspective: 200px;
  position: relative;
  height: calc(var(--card-height)*.3);
  transition: 500ms ease-in-out;
  bottom: -100%;
  left: -6%;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}
.carde:hover img {
  bottom: -10%;
  height: calc(var(--card-height)*1.2);
  filter: drop-shadow(0px -20px 25px #ebdcae) ;
  pointer-events: none;
}

.links {
  top: 5%;
  right: -15%;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: 500ms ease-in-out;
}
.links a {
  text-decoration: none;
}
.links a i {
  margin: 5px;
  color: #ebdcae;
  margin-right: 16px;
  margin-bottom: 30px;
}
.carde:hover .links {
  right: 20%;
}
.carde:hover .links a i{
  filter: drop-shadow(0px 0px 5px #ebdcae) ;

}

 
@media screen and (max-width: 420px) {
  .section-header h2{
    font-size: 30px;
  }
  .section-header p{
    font-size: 15px;
  }
}



  


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background-color: black;
  padding: 30px 0;
  color: white;
  margin-bottom: -88%;
}

.footer .footer-info .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  /* font-family: var(--font-primary); */
}

.footer .footer-info p {
  font-size: 14px;
  /* font-family: var(--font-primary); */
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 20px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


.stucoani {
  
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 20px;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: relative;
  top: 18%;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em;
  text-align: center;
  font-family: "baron";
  /* margin-top: 50px; */
}

  




.animate {

  font: 700 5em/1 "baron", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

  /* Clip Background Image */

  background: url(/planet-explore-website-master/images/euphoria\ flow\ \(1\).png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  filter: saturate(2);

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}
@media (max-width: 480px){
  .stucoani{
    font-size: 10px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #004aad;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #002e69;
  }
  .front{
    background-position-y: 0px;
    background-position-x: -20px;
  }
}

i.fa{
  font-size: 30px;
}
i.fa:hover{
  transform:translateY(-10px);
  transition: all ease-in-out 0.2s;
}

button{
  background-color: #ebdcae;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  padding-bottom: -5px;
  border: 0px;
  margin-right: -5px;
}
button:hover{
  background-color: #ead495;
}

@media screen and (max-width: 420px)
{
  button{
    margin-right: -30px;
  }
}

.links i{
  font-size: 50px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ebdcae;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e8ce80;
}

.tooltip .tooltiptext {
  margin-left: -35px;
  visibility: hidden !important;
  width: 120px !important;
  font-size: 20px;
  color: black !important;
  text-align: center !important;
  padding: 5px 0 !important;
  border-radius: 6px !important;
 
  /* Position the tooltip text - see examples below! */
  position: absolute !important;
  z-index: 999 !important;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
   visibility: visible !important;
}


.red{
  color: red!important;

}
.redbox{
  box-shadow: red 0px 20px 50px -25px!important;
}

.blue{
  color: blue !important;
}

.bluebox{
  box-shadow: blue  0px 20px 50px -25px!important;
}
.green{
  color: green !important;
}

.greenbox{
  box-shadow: green  0px 20px 50px -25px!important;
}
.yellow{
  color: yellow !important;
}

.yellowbox{
  box-shadow: yellow  0px 20px 50px -25px!important;
}